## MLOps Assignment 1

Q1. Print multiplication table from 1 to 10

In [1]:
for i in range(1,11):
  print("Table of {}".format(i))
  for j in range(1,11):
    print(i*j, end=" ")
  print("\n")

Table of 1
1 2 3 4 5 6 7 8 9 10

Table of 2
2 4 6 8 10 12 14 16 18 20

Table of 3
3 6 9 12 15 18 21 24 27 30

Table of 4
4 8 12 16 20 24 28 32 36 40

Table of 5
5 10 15 20 25 30 35 40 45 50

Table of 6
6 12 18 24 30 36 42 48 54 60

Table of 7
7 14 21 28 35 42 49 56 63 70

Table of 8
8 16 24 32 40 48 56 64 72 80

Table of 9
9 18 27 36 45 54 63 72 81 90

Table of 10
10 20 30 40 50 60 70 80 90 100

Q2. Given two lists, l1 and l2, write a program to create a third list l3 by picking an odd-index element from the list l1 and even index elements from the list l2.

In [3]:
l1= [1,2,45,35,89]
l2= ['s','h','r','e','y','a']
l3= []

for i in range(1, len(l1),2):
  l3.append(l1[i])

for i in range(0, len(l2),2):
  l3.append(l2[i])

print("list1 = {}".format(l1))
print("list2 = {}".format(l2))
print("list3 = {}".format(l3))

list1 = [1, 2, 45, 35, 89]
list2 = ['s', 'h', 'r', 'e', 'y', 'a']
list3 = [2, 35, 's', 'r', 'y']

Q3. Print a this pattern(*)

    * * * * * * * *
      * * * * * * *
        * * * * * *
          * * * * *
            * * * *
              * * *
                * *
                  *

In [5]:
n= int(input("Enter a value : "))

for i in range(n):       #For rows
  for j in range(i):
    print(" ",end=" ")
  for j in range(i,n):
    print("*",end=" ")
  print("\n")

Enter a value : 8
* * * * * * * *

  * * * * * * *

    * * * * * *

      * * * * *

        * * * *

          * * *

            * *

              *

Q4. Create a function named `exponent(base, exp)` that returns an integer representing the result of raising `base` to the power of `exp`.
`exp` is >0.

base = 5
exponent = 4

5 raises to the power of 4 is: 625
i.e. (5 *5 * 5 *5 = 625)

In [6]:
b= int(input("Enter a value for base : "))
e= int(input("Enter a value for exponent : "))

print("{} raises to the power of {} is: {}".format(b,e,b**e))

Enter a value for base : 5
Enter a value for exponent : 4
5 raises to the power of 4 is: 625

Q5. Create a file named test.txt and insert the following content into it.

    line1
    line2
    line3
    line4
    line5
    line6
    line7

Write a program which write all content of a given file (test.txt) into a new file by skipping line number 5 (line5)

In [7]:
text= "line1 \nline2 \nline3 \nline4 \nline5 \nline6 \nline7"

with open("test.txt","w") as file:               #Inserting content in a file
  file.write(text)

with open("test.txt","r") as file:              #Reading the file
  content= file.read()

print(content)

line1
line2
line3
line4
line5
line6
line7

Q6. Write a program which receives three names from the user in a single input() function call.

    Input: IIT JODHPUR RAJASTHAN

    Output:
    IIT
    JODHPUR
    RAJASTHAN

In [13]:
name1,name2,name3= input("Enter the names : ").split()
print(name1)
print(name2)
print(name3)

Enter the names : Shreya Sushil Pandey
Shreya
Sushil
Pandey

Q7. Write a program to define a function called show_employee() with the following requirements:

*   It should take the employee's name and salary as input and display both.
*   If the salary is not provided in the function call, assign a default value of 9000 to it.

After passing:

showEmployee("Bill Gates", 12000)

showEmployee("Elon Musk")

It should print:

Name: Bill Gates salary: 12000

Name: Elon Musk salary: 9000

In [19]:
def show_employee(name, salary= 9000):
    print("Name: {} salary: {}".format(name,salary))

show_employee("Bill Gates", 12000)

show_employee("Elon Musk")

Name: Bill Gates salary: 12000
Name: Elon Musk salary: 9000

Q8. Write a program to identify words that contain both letters and digits from a given input string.

    Given str1 = "Harry25 is Gryffindor Wizard50 and cursed"

    Output:
    Harry25
    Wizard50

In [30]:
import re

def solution(sentence):
  li=[]
  words= sentence.split()
  for word in words:
    flag = re.search(r'[a-zA-Z]+', word) and re.search(r'[0-9]+', word)       #using regex to match letter and digit
    if flag!=None:
      li.append(word)
  return li

s= input("Enter the string : ")
ans= solution(s)

for i in ans:
  print(i)

Enter the string : Harry25 is Gryffindor Wizard50 and cursed
Harry25
Wizard50

Q9. Write a program to substitute each special character in the given string with the symbol #.

    Given: str1 = '/*Modi is @Politician & Melony!!'

    Output: ##Modi is #Politician # Melony##

In [48]:
def solution(sentence):
  ans=''
  for i in range(len(sentence)):
   if not(sentence[i].isalnum()==True or sentence[i].isspace()==True ):    #checking if the character is special
    ans= ans[:i]+'#'                                                       #repalcing special characters
   else:
    ans= ans[:i]+sentence[i]
  return ans

s= input("Enter the string : ")
print(solution(s))

Enter the string : /*Modi is @Politician & Melony!!
##Modi is #Politician # Melony##

Q10. Construct a Python set that displays elements from both lists as pairs.

    Given:

    first_list = [2, 3, 4, 5, 6, 7, 8]
    second_list = [4, 9, 16, 25, 36, 49, 64]
    Output: Result is  {(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

In [53]:
l1= [2, 3, 4, 5, 6, 7, 8]
l2= [4, 9, 16, 25, 36, 49, 64]

ans=set()
for i in range(len(l1)):   #For creating pairs
  ans.add((l1[i],l2[i]))   #inserting in the set
print(ans)

{(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

Q11. Define two set A and B consisting of 5 elements. Now print the element after performing


      1.   A-B
      2.   B-A
      3.   A∩B
      4.   A∪B

In [55]:
A = {9, 7, 1, 8, 5}
B= {8, 3, 4, 9, 2}

print(A.difference(B)) #A-B
print(B.difference(A)) #B-A
print(A.intersection(B)) #A∩B
print(A.union(B)) #A∪B

{1, 5, 7}
{2, 3, 4}
{8, 9}
{1, 2, 3, 4, 5, 7, 8, 9}

## Object Oriented Programming Exercise 1:

[Classes and Objects in Python](https://pynative.com/python-classes-and-objects/)

[Instance variables in Python](https://pynative.com/python-instance-variables/)

Q12. Create a Vehicle class with max_speed and mileage instance attributes.

In [57]:
class Vehicle:
  def __init__(self, max_speed, mileage):
      self.max_speed = max_speed
      self.mileage = mileage
  def display(self):
    print("Max speed= {}, mileage={}".format(self.max_speed, self.mileage))

v1= Vehicle(100, 10000)
v2= Vehicle(200, 20000)
v1.display()
v2.display()

Max speed= 100, mileage=10000
Max speed= 200, mileage=20000

Q13. Create a child class Bus that will inherit all of the variables and methods of the Vehicle class.

Create a Bus object that will inherit all of the variables and methods of the parent Vehicle class and display it.

In [62]:
class Vehicle:                                #Parent Class
  def __init__(self, max_speed, mileage):
      self.max_speed = max_speed
      self.mileage = mileage


class Bus(Vehicle):                           #Child Class
  def __init__(self, max_speed, mileage, purpose):
      super().__init__(max_speed, mileage)
      self.purpose= purpose

  def display(self):
    print("Max speed= {}, mileage={}, purpose={}".format(self.max_speed, self.mileage, self.purpose))

b1= Bus(60, 37000, "city bus")
b2= Bus(100, 65000, "intercity")
b1.display()
b2.display()

Max speed= 60, mileage=37000, purpose=city bus
Max speed= 100, mileage=65000, purpose=intercity

### Class Inheritance

Q14. Create a Bus class that inherits from the Vehicle class. Give the capacity argument of Bus.seating_capacity() a default value of 50.

Use the following code for your parent Vehicle class.

    class Vehicle:
      def __init__(self, name, max_speed, mileage):
          self.name = name
          self.max_speed = max_speed
          self.mileage = mileage

      def seating_capacity(self, capacity):
          return f"The seating capacity of a {self.name} is {capacity} passengers"

Expected Output:

    The seating capacity of a bus is 50 passengers

In [2]:
class Vehicle:
  def __init__(self, name, max_speed, mileage):
      self.name = name
      self.max_speed = max_speed
      self.mileage = mileage

  def seating_capacity(self, capacity):
      return f"The seating capacity of a {self.name} is {capacity} passengers"

class Bus(Vehicle):
  def seating_capacity(self, capacity=50):
      return super().seating_capacity(capacity)

b1= Bus("City Bus", 70, 10)
print(b1.seating_capacity())
print(b1.seating_capacity(60))

The seating capacity of a City Bus is 50 passengers
The seating capacity of a City Bus is 60 passengers

Q15. Create a Bus subclass that inherits from the Vehicle class. By default, the fare for any vehicle is calculated as the seating capacity multiplied by 100. For instances of the Bus class, an additional 10% maintenance fee should be applied to the total fare. Therefore, the final fare for a bus instance will be the sum of the total fare plus an additional 10% of that total fare.

Note: The bus has a seating capacity of 50, so the final fare amount should be 5500. You need to override the fare() method from the Vehicle class in the Bus class.

Use the provided code for the parent Vehicle class. You should access the parent class within a method of the child class.

    class Vehicle:
      def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

      def fare(self):
        return self.capacity * 100

    class Bus(Vehicle):
        pass
        School_bus = Bus("School Volvo", 12, 50)
        print("Total Bus fare is:", School_bus.fare())

    Expected Output:

    Total Bus fare is: 5500.0

In [3]:
class Vehicle:
  def __init__(self, name, mileage, capacity):  #Parent class
    self.name = name
    self.mileage = mileage
    self.capacity = capacity

  def fare(self):
    return self.capacity * 100

class Bus(Vehicle):              #Child class
    def fare(self):              #Overriding fare method
      f= super().fare()
      return f+(0.1)*f


School_bus = Bus("School Volvo", 12, 50)
print("Total Bus fare is:", School_bus.fare())

Total Bus fare is: 5500.0

### Python JSON Exercise
Refer: [Python JSON tutorials](https://pynative.com/python/json/)

Q16. Convert the following dictionary into JSON format

    data = {"key1" : "value1", "key2" : "value2"}
    data = {"key1" : "value1", "key2" : "value2"}

In [5]:
import json

data = {"key1" : "value1", "key2" : "value2"}

newData= json.dumps(data)            #Converting to json data
print(newData)

{"key1": "value1", "key2": "value2"}

Q17. Sort JSON keys in and write them into a file

    sampleJson = {"id" : 1, "name" : "value2", "age" : 29}

    {
          "age": 29,
          "id": 1,
          "name": "value2"
    }

In [7]:
import json

sampleJson = {"id" : 1, "name" : "value2", "age" : 29}

jsonData= json.dumps(sampleJson, sort_keys=True)          #Converting to json data and sorting

with open("test.txt","w") as file:            #Writing in a file
  file.write(jsonData)

with open("test.txt","r") as file:              #For checking whether the data is stored or not
  content=file.read()

print(content)

{"age": 29, "id": 1, "name": "value2"}